.burger {
   display: flex;
   flex-direction: column;
   align-items: end;
   background-color: transparent;
   padding: 0;
   border: none;
   position: relative;
   height: 30px;
   justify-content: space-between;
   width: 40px;

   @include media-breakpoint-up (md) {
      display: none;
   }

   span {
      transition: transform .3s, opacity .3s;
      height: 5px;
      background-color: white;
      border-radius: 5px;
      display: block;
      width: 100%;
   }

   &--black {
      span {
         background-color: black;
      }
   }

   &.active {
      span {
         &:first-child {
            transform: rotate(45deg) translate(10px, 8px);
         }

         &:nth-child(2) {
            opacity: 0;
         }

         &:nth-child(3) {
            transform: rotate(-45deg) translate(9px, -8px)
         }
      }
   }
}