.statistic {
   text-align: center;

   &__title {
      color: $green;
      font-size: $fs-big;
      margin-bottom: 15px;
      line-height: 1;
   }

   &__text {
      font-size: $fs-small;
      max-width: 240px;
      margin: 0 auto;
   }

   @include media-breakpoint-down (md) {
      .row {
         margin-bottom: -20px;

         &>div {
            padding-bottom: 20px;
         }
      }
   }
}