{% extends 'templates/page.twig' %}

{% block content %}


<section class="single">
   <div class="container">
      {% include "components/breadcrumbs.twig" %}
      <h1 class="single__title">
         Практический курс по анимации
         для начинающих motion-дизайнеров
      </h1>
      <div class="single__img">
         <img src="images/single-img.jpg" alt="" class="width-100">
      </div>

      <div class="single__text text">
         <h3>
            Мечтаете оживлять статичные картинки и интерфейсы? Тогда этот курс для вас!
            На интенсивном 8-недельном курсе по анимации вы получите мощную базу.
         </h3>

         <p>
            Анимация шейпов и текста, работа с векторными фигурами и растровыми изображениями, настройка программы After
            Effects и эффектный монтаж. Всему этому вы научитесь на курсе Motion Design. Вместе с преподавателями вы
            изучите
            принципы анимации и разберетесь с After Effects раз и навсегда.
         </p>

         <p>
            К концу курса вы сделаете несколько анимационных шотов и большой итоговый проект, соберете достойное
            портфолио.
            За
            8 недель обучения вы получите полную базу по motion-дизайну, а наши кураторы будут помогать вам на
            протяжении
            всего обучения.
         </p>

         <p>
            Обучение проходит в небольших группах, к каждой привязан куратор, один из наших лучших выпускников. У вас
            всегда
            будет поддержка и обратная связь. Помимо фидбека от куратора, на каждое домашнее задание вы получаете разбор
            тренера.
         </p>

      </div>
   </div>
</section>

{# Цифры #}
<section class="section statistic" id="">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6">
            {% include "components/statistic.twig" with {
            title : '8',
            text : 'недель интенсивного обучения,
            занятия 3 раза в неделю'
            } %}</div>
         <div class="col-md-3 col-sm-6">
            {% include "components/statistic.twig" with {
            title : '24',
            text : 'урока и домашних заданий
            с проверкой от тренера'
            } %}
         </div>
         <div class="col-md-3 col-sm-6">
            {% include "components/statistic.twig" with {
            title : '7',
            text : 'работ в портфолио по окончании курса, 6 шотов и 1 итоговая работа'
            } %}
         </div>
         <div class="col-md-3 col-sm-6">
            {% include "components/statistic.twig" with {
            title : '4',
            text : 'студента в каждой группе, у каждой группы свой куратор'
            } %}
         </div>
      </div>
   </div>
</section>

{# Зеленый #}
<section class="section section--green">
   <div class="container">
      <div class="row row--center--align row--reverse gy-30">
         <div class="col-lg-6 section__content--center-lg">
            <h2 class="section__title">
               Актуальные знания
            </h2>
            <div class="section__text">
               Мы понимаем, как быстро меняются тренды и появляются обновления. Поэтому мы всегда следим за всеми
               новинками, добавляем в программу то, что требуют топовые компании. Мы предлагаем вам только актуальные
               знания, чтобы вы были впереди планеты всей.
            </div>
            <div>
               <a href="#" class="btn btn--orange btn--center-lg">
                  Все курсы
               </a>
            </div>
         </div>
         <div class="col-lg-6 d--sm--none pl-30">
            <div class="section__img section__img--right">
               <img src="images/section/green/photo-2.jpg" alt="">
            </div>
         </div>
      </div>
   </div>
</section>

{# Курсы #}
<section class="section">
   <div class="container">
      <div class="section__title section__title--center">
         На курсы вы научитесь
      </div>
      <div class="row course--pd">
         <div class="col-md-3 col-sm-6">
            <div class="course">
               <div class="course__title">
                  <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M19 8.46918C19 13.1801 14.9722 17 10.005 17C5.03776 17 1.00999 13.1801 1.00999 8.46918M1 8.46919C1 4.34596 4.52803 1 8.87562 1C13.2232 1 16.7512 4.34596 16.7512 8.46918C16.7512 12.0047 13.7329 14.8673 10.005 14.8673C6.27707 14.8673 3.25874 12.0047 3.25874 8.46918C3.25874 5.52131 5.77734 3.14219 8.87562 3.14219C11.9839 3.14219 14.4925 5.53079 14.4925 8.46918M14.5025 8.46918C14.5025 10.8294 12.4936 12.7346 10.005 12.7346C7.51638 12.7346 5.50749 10.8294 5.50749 8.46918C5.50749 6.70615 7.01666 5.26541 8.88562 5.26541C10.7446 5.26541 12.2637 6.69667 12.2637 8.46918M12.2537 8.46918C12.2537 9.64454 11.2443 10.6019 10.005 10.6019C8.76568 10.6019 7.75624 9.64454 7.75624 8.46918C7.75624 7.88151 8.25596 7.4076 8.87562 7.4076C9.49527 7.4076 9.995 7.88151 9.995 8.46918"
                        stroke="#FA9F42" stroke-miterlimit="10" />
                  </svg>
                  Анимировать объекты
               </div>
               <div class="course__text">
                  Узнаете принципы создания инфографики, персонажной 2D флэт-анимации.
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="course">
               <div class="course__title">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M0.525549 15.5C0.775746 13.0656 2.83279 11.1667 5.33333 11.1667C7.83388 11.1667 9.89092 13.0656 10.1411 15.5H0.525549ZM15.5 11.1922V15.5H11.1922C11.4255 13.2299 13.2299 11.4255 15.5 11.1922ZM15.5 10.1411C13.0656 9.89092 11.1667 7.83388 11.1667 5.33333C11.1667 2.83279 13.0656 0.775746 15.5 0.525549V10.1411ZM10.1667 5.33333C10.1667 8.00271 8.00271 10.1667 5.33333 10.1667C2.66396 10.1667 0.5 8.00271 0.5 5.33333C0.5 2.66396 2.66396 0.5 5.33333 0.5C8.00271 0.5 10.1667 2.66396 10.1667 5.33333Z"
                        stroke="#FA9F42" />
                  </svg>
                  Работать с кадром
               </div>
               <div class="course__text">
                  Изучите основные принципы анимации и работы с объектами, их движением в кадре.
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="course">
               <div class="course__title">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M5.8 9H9M5.8 9C3.15111 9 1 11.1422 1 13.8M5.8 9V5.8M5.8 9C3.15111 9 1 6.84889 1 4.2V1H4.2M9 9V12.2M9 9V5.8M9 9H12.2M9 12.2H5.8M9 12.2C9 14.8489 6.84889 17 4.2 17H1V13.8M9 12.2C9 14.8489 11.1511 17 13.8 17M5.8 12.2C4.92 12.2 4.2 12.92 4.2 13.8M5.8 12.2C5.8 13.08 5.08 13.8 4.2 13.8M4.2 13.8H1M9 5.8C9 3.14222 6.84889 1 4.2 1M9 5.8H12.2M9 5.8C9 3.14222 11.1511 1 13.8 1H17V4.2M5.8 5.8C5.8 4.92 5.08 4.2 4.2 4.2M5.8 5.8C4.92 5.8 4.2 5.08 4.2 4.2M4.2 4.2V1M12.2 9C14.8489 9 17 6.84889 17 4.2M12.2 9V12.2M12.2 9C14.8489 9 17 11.1422 17 13.8V17H13.8M12.2 5.8C13.08 5.8 13.8 5.08 13.8 4.2M12.2 5.8C12.2 4.92 12.92 4.2 13.8 4.2M13.8 4.2H17M12.2 12.2C12.2 13.08 12.92 13.8 13.8 13.8M12.2 12.2C13.08 12.2 13.8 12.92 13.8 13.8M13.8 13.8V17"
                        stroke="#FA9F42" stroke-miterlimit="10" />
                  </svg>
                  Работать в After Effects
               </div>
               <div class="course__text">
                  Научитесь реализовывать ваши идеи с помощью популярной программы для анимации
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="course">
               <div class="course__title">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M16 16V0.0041222H14.773V16H16Z" fill="#FA9F42" />
                     <path d="M3.68914 13.9971V2.00018H2.46218V13.9971H3.68914Z" fill="#FA9F42" />
                     <path d="M1.22697 15.9959V0H0V15.9959H1.22697Z" fill="#FA9F42" />
                     <path d="M6.15132 11.9983V4.00032H4.92436V11.9983H6.15132Z" fill="#FA9F42" />
                     <path d="M8.6135 9.99951V6.00054H7.38654V9.99951H8.6135Z" fill="#FA9F42" />
                     <path d="M11.0756 11.9996V4.0017H9.84867V11.9996H11.0756Z" fill="#FA9F42" />
                     <path d="M13.5378 13.9998V2.00291H12.3109V13.9998H13.5378Z" fill="#FA9F42" />
                     <path d="M16 16V0.0041222H14.773V16H16Z" fill="#FA9F42" />
                     <path d="M3.68914 13.9971V2.00018H2.46218V13.9971H3.68914Z" fill="#FA9F42" />
                     <path d="M1.22697 15.9959V0H0V15.9959H1.22697Z" fill="#FA9F42" />
                     <path d="M6.15132 11.9983V4.00032H4.92436V11.9983H6.15132Z" fill="#FA9F42" />
                     <path d="M8.6135 9.99951V6.00054H7.38654V9.99951H8.6135Z" fill="#FA9F42" />
                     <path d="M11.0756 11.9996V4.0017H9.84867V11.9996H11.0756Z" fill="#FA9F42" />
                     <path d="M13.5378 13.9998V2.00291H12.3109V13.9998H13.5378Z" fill="#FA9F42" />
                  </svg>
                  Работать со звуком
               </div>
               <div class="course__text">
                  Освоите инструменты работы, сможете редактировать музыку
                  в своем проекте.
               </div>
            </div>
         </div>
      </div>
      <a href="#" class="btn btn--green btn--center">
         Программа курса
      </a>
   </div>
</section>

{# Тариф #}
<section class="section__bg--2">
   <div class="container">
      <div class="section__position section__position--right section__content--center-lg">
         <div class="section section__width">
            <h2 class="section__title section__title--width330">
               Скидка 40%
               до 30 июня
            </h2>
            <div class="section__text">
               Успейте приобрести курс по выгодной цене! Вы можете забронировать место на курсе со скидкой, а остальную
               сумму оплатить в рассрочку на 12 или 24 месяца.
            </div>
            <a href="#" class="btn btn--orange btn--center-lg">
               Купить курс
            </a>
         </div>
      </div>
   </div>
</section>

{# Вопросы #}
<section class="section section--pb0">
   <div class="container">
      <div class="section__title section__title--center section__title--pb60">
         Часто задаваемые вопросы
      </div>
      <div>
         <div class="question">
            <div class="question__title">
               Я никогда не занимался анимацией. У меня получится?
               <a class="question__icon" href="#!"></a>
            </div>
            <div class="question__text">
               Конечно! Этот курс рассчитан для новичков, для тех, кто еще совсем ничего не умеет. Курс интенсивный, но
               оно того стоит. Главное выполняйте домашнее задание в срок. Вам всегда будут помогать тренеры и кураторы.
               Все получится!
            </div>
         </div>
         <div class="question">
            <div class="question__title">
               Насколько курс интенсивный? Я смогу совмещать с работой?
               <a class="question__icon" href="#!"></a>
            </div>
            <div class="question__text">
               Курс довольно интенсивный, но, при большом желании, вы будете успевать все. Вам понадобится 2-3 свободных
               часа в день на изучение материала и выполнение домашних заданий.
            </div>
         </div>
         <div class="question">
            <div class="question__title">
               Какие программы мне нужны для обучения?
               <a class="question__icon" href="#!"></a>
            </div>
            <div class="question__text">
               Конечно! Этот курс рассчитан для новичков, для тех, кто еще совсем ничего не умеет. Курс интенсивный, но
               оно того стоит. Главное выполняйте домашнее задание в срок. Вам всегда будут помогать тренеры и кураторы.
               Все получится!
            </div>
         </div>
         <div class="question">
            <div class="question__title">
               Есть ли рассрочка или дополнительные скидки?
               <a class="question__icon" href="#!"></a>
            </div>
            <div class="question__text">
               Конечно! Этот курс рассчитан для новичков, для тех, кто еще совсем ничего не умеет. Курс интенсивный, но
               оно того стоит. Главное выполняйте домашнее задание в срок. Вам всегда будут помогать тренеры и кураторы.
               Все получится!
            </div>
         </div>
         <div class="question">
            <div class="question__title">
               Вы помогаете с трудоустройством?
               <a class="question__icon" href="#!"></a>
            </div>
            <div class="question__text">
               Конечно! Этот курс рассчитан для новичков, для тех, кто еще совсем ничего не умеет. Курс интенсивный, но
               оно того стоит. Главное выполняйте домашнее задание в срок. Вам всегда будут помогать тренеры и кураторы.
               Все получится!
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}