<footer class="footer">
   <div class="footer__top">
      <div class="container">
         <div class="row footer__row">
            <div class="col-lg-3">
               <a href="#" class="footer__logo">
                  <img src="images/logo-footer.svg" alt="">
               </a>
               <div class="footer__text">
                  Образовательная онлайн-платформа для развития и тренировки навыков
                  в сфере информационных технологий
               </div>

               <div class="footer__socials footer__socials--desktop">
                  <a href="https://www.facebook.com/">
                     <img src="images/footer-fb.svg" alt="">
                  </a>
                  <a href="https://www.vk.com/">
                     <img src="images/footer-vk.svg" alt="">
                  </a>
                  <a href="https://www.instagram.com/">
                     <img src="images/footer-inst.svg" alt="">
                  </a>
               </div>
            </div>
            <div class="col-lg-9">
               <div class="row footer__row">
                  <div class="col-md-3 col-6">
                     <div class="footer__block-title">
                        Обучение
                     </div>
                     <ul class="footer__block-list">
                        <li>
                           <a href="#">
                              Курсы
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Вебинары
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Тренажеры

                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Воркшопы
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-3 col-6">
                     <div class="footer__block-title">
                        О нас
                     </div>
                     <ul class="footer__block-list">
                        <li>
                           <a href="#">
                              О платформе
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Преподаватели
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Тарифы
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Отзывы
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-3 col-6">
                     <div class="footer__block-title">Контакты</div>
                     <ul class="footer__block-list">
                        <li>
                           <a href="#">
                              Связаться с нами
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Консультация
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Реквизиты
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              Поддержка
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-3 col-6">
                     <div class="footer__block-title">
                        Возникли вопросы?
                     </div>
                     <div>
                        Напишите нам на почту
                        <a href="#" class="footer__mail">
                           education@ementor.info
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="footer__socials footer__socials--mobile">
            <a href="https://www.facebook.com/">
               <img src="images/footer-fb.svg" alt="">
            </a>
            <a href="https://www.vk.com/">
               <img src="images/footer-vk.svg" alt="">
            </a>
            <a href="https://www.instagram.com/">
               <img src="images/footer-inst.svg" alt="">
            </a>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="footer__bottom">
         <span>
            E-Mentor © 2021 Все права защищены
         </span>
         <div class="footer__policy">
            <a href="">
               Политика обработки персональных данных
            </a>
            <a href="">
               Публичная оферта
            </a>
         </div>
      </div>
   </div>
</footer>