<header class="header header--fixed">
   <div class="container">
      <nav class="site-menu site-menu--center">
         <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Платформа</a></li>
            <li><a href="single.html">Курсы</a></li>
            <li><a href="#">Лекции</a></li>
            <li><a href="#">Тарифы</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Контакты</a></li>
         </ul>
      </nav>

      <button type="button" class="burger header__burger--end">
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>
</header>